/* display */ 
.u-inlineBlock {
	display: inline-block;
}

@include media-breakpoint-pc-tab {
	.u-onlySp {
		display: none !important;
	}
}

@include media-breakpoint-sp {
    .u-onlySp {
		display: none !important;
	}
}