.c-groupText{
    display: flex;
    margin-bottom: 14px;
    font-size: ( 18px / $font-size) * 1rem;
    &__heading{
        width: 88px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background: $black;
        font-weight: bold;
        margin-right: 11px;
        height: 24px;
    }
    &__text{
        display: inline-block;
        width: calc(100% - 88px - 15px);
        line-height: 1.6;
    }
}