/* mainvisual */ 

.c-mainvisual {
    margin-bottom: 80px;
    margin-top: 70px;
    &__item {
        max-width: 420px;
        margin: 0 auto;
        position: relative;
    }
    &__link {
        display: block;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        &.--hiru {
            left: 0;
        }
        &.--yoru {
            right: 0;
        }
    }
}
