.c-slider {
    .slick-slide {
        height: 100%;
        line-height: 0;
    }
    &__item {
        display: block;
        height: 100%;
    }
    &__img {
        padding-top: 35%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slick-dots {
        left: auto;
        right: 15%;
        bottom: 30px;
        li {
            width: 12px;
            height: 12px;
            margin: 0 5px;
        }
    }
}