<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'temp',
		title: 'テンプレート',
		description: 'TOPページです',
	}
}}); %><%- include('_header'); %>
					<section class="p-temp">
						<div class="l-inner --narrow">
							<div class="flex">
								<div class="flex_item"></div>
								<div class="flex_item"></div>
							</div>
						</div>
					</section>
<%- include('_footer'); %>
